<!DOCTYPE html>
<html lang="en"  dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>DaxWear</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Rubik&display=swap" rel="stylesheet">
  </head>
  <body>

  <div class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url_for('home') }}">DaxWear</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="#">Clothing</a></li>
            <li><a href="#">Clearance</a></li>
            <li><a href="#">Reviews</a></li>
            <li><a href="#">My Cart</a></li>
            <li><a href="#">My Account</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="row">
      <div class="col-xs-12 about text-center">
        <h1>About DaxWear</h1>
        <br>
        <h4>Who we are. What we are. Where we come from.</h4>
        <br>
        <br>
      </div>
    </div>
    <hr class="hr1">
    <hr class="hr2">
    <br>
    <br>
    <div class="row">
      <div class="col-xs-6 visionaryPic">
        <img src="../static/visionaries.jpg" width=520px>
      </div>
      <div class="col-xs-6 visionaries">
        <h2>The Visionaries</h2><br>
        <p>DaxWear was started by Carl and Marissa Generoso. They always dreamed of starting up their own clothing business and when they named their son Dax, they knew that the vision for their company was completed. That's how DaxWear got its name.
          Marissa designs most of the clothing; she has loved art from a young age and loves bringing her artistic visions to life through clothing. Carl works on most of the marketing and branding for Daxwear. Together they are a great team and have created a stellar business.</p>
      </div>
    </div>
    <br><br><br>
    <div class="row">
      <div class="col-xs-12 indent1">
        <h2>Marissa's Favorite Designs</h2>
      </div>
    </div>
    <br><br>
    <div class="row border">
      <div class="col-xs-3 indent1">
        <img src="http://via.placeholder.com/200x200">
      </div>
      <div class="col-xs-3 indent1">
        <img src="http://via.placeholder.com/200x200">
      </div>
      <div class="col-xs-3 indent1">
        <img src="http://via.placeholder.com/200x200">
      </div>
      <div class="col-xs-3 indent1">
        <img src="http://via.placeholder.com/200x200">
      </div>
    </div>
    <br><br><br><br>
    <div class="row">
      <div class="col-xs-12 indent1">
        <h2>Carl's Favorite Designs</h2>
      </div>
    </div>
    <br>
    <div class="row border">
      <div class="col-xs-3 indent1">
        <img src="http://via.placeholder.com/200x200">
      </div>
      <div class="col-xs-3 indent1">
        <img src="http://via.placeholder.com/200x200">
      </div>
      <div class="col-xs-3 indent1">
        <img src="http://via.placeholder.com/200x200">
      </div>
      <div class="col-xs-3 indent1">
        <img src="http://via.placeholder.com/200x200">
      </div>
    </div>
    <br><br><br><br>
  </div>
